- name: install-kubelet.yml
  include_tasks: install-kubelet.yml

- name: master-configs.yml
  include_tasks: master-configs.yml
  when: inventory_hostname in groups['master']

- name: copy weave-net.yaml
  copy:
    src: weave-net.yaml
    dest: /tmp/weave-net.yaml
  when: inventory_hostname in groups['master']

- name: Pre-Requisite networking kubernetes weavenet
  command: "kubectl apply -f /tmp/weave-net.yaml --kubeconfig={{ kubeadmin_config }}"
  when: inventory_hostname in groups['master']

- name: Get join from master
  fetch:
    src: "/tmp/run_kube_init.sh"
    dest: "../../local_files/run_kube_init.sh"
    flat: yes
  when: ansible_hostname == 'k-master'

- name: Add join file to nodes
  copy:
    src: "../../local_files/run_kube_init.sh"
    dest: "/tmp/run_kube_init.sh"
  when: master == "no"

- name: create join command for nodes
  shell: tail -n +2 /tmp/run_kube_init.sh | head -n -1 | awk '{print $5}' | tail -n 1
  register: JOIN_TOKEN

- set_fact:
    join_token: "{{ JOIN_TOKEN.stdout }}"

- name: join-nodes.yml
  include_tasks: join-nodes.yml
