- name: kube-apiserver.yaml
  stat:
    path: "/etc/kubernetes/pki/"
  register: register_name

- debug:
    msg: "{{ register_name.stat.exists }}"

- debug:
    msg: "{{ ansible_host }}"

- name: Check if control-plane already initialized
  ansible.builtin.stat:
    path: /etc/kubernetes/admin.conf
  register: k8s_adminconf

- name: Initialize the Kubernetes cluster using kubeadm
  ansible.builtin.script: "kubeadm.sh {{ ansible_host }}"
  when: not k8s_adminconf.stat.exists

- name: Create a directory if it does not exist
  ansible.builtin.file:
    path: /home/vagrant/.kube
    owner: vagrant
    group: vagrant
    state: directory
    mode: '0755'

- name: Setup kubeconfig for vagrant user
  ansible.builtin.copy:
    src: /etc/kubernetes/admin.conf
    dest: /home/vagrant/.kube/config
    owner: vagrant
    group: vagrant
    mode: '0644'
    remote_src: yes