a_list_vars:
  - some_value1
  - some_value2
  - some_value3

k8s_minor: "1.34"
k8s_version: "1.34.2-1.1"
k8s_keyring_path: "/etc/apt/keyrings/kubernetes-apt-keyring.gpg"
k8s_repo_file: "kubernetes"

master_ip:  "{{ hostvars['k-master']['ansible_host'] }}"

kubeadmin_config: "/etc/kubernetes/admin.conf"
node_ip_master: "{{ hostvars[groups['kubernetescluster'][0]]['ansible_default_ipv4']['address'] }}"

node_ip_workers:
  - "{{ hostvars[groups['kubernetescluster'][1]]['ansible_default_ipv4']['address'] }}"
  - "{{ hostvars[groups['kubernetescluster'][2]]['ansible_default_ipv4']['address'] }}"

all_nodes: "{{ groups['kubernetescluster'] | map('extract', hostvars, ['ansible_default_ipv4', 'address']) | join(',') }}"
master_node: "{{ hostvars['k-master']['ansible_default_ipv4']['address'] }}"