<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>Web App</title>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
            integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
            crossorigin="anonymous"
    />
    <style>
        /* Add custom CSS styles here */
        .container {
            padding-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text-center">I am collecting IP addresses!</h1>
    <p>Your IP address is: {{ip_addr}} - Thanks</p>
    <div class="text-center">
        <h3>Hello visitor!</h3>
        <p class="lead">You are Visitor Number: {{total_visitors}}</p>
        <script>
            const json_value = JSON.parse({{json_value|tojson}});
            console.log(json_value);
            document.querySelector(".container").innerHTML = JSON.stringify(json_value, null, 2);
        </script>
        <a href="/proxy_client" class="btn btn-success btn-lg">Click to download resume</a>
    </div>
</div>
</body>
</html>
