<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
</head>
   <meta charset="utf-8">
   <title>Run ZK on Kubernetes - DEV  💻👩‍💻👨‍💻💻 </title>
<style>
    code {
        font-family: Consolas,"courier new";
        color: #1a43c2;
        background-color: #f1f1f1;
        padding: 2px;
        font-size: 105%;
    }
</style>
<div class="header">
    <h2>Set Zookeeper myid Setting on Kubernetes using a for-loop</h2>
</div>
<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>Zookeeper deployed on Kubernetes</h2>
            <h5>The recommended version from <a href="https://kubernetes.io/docs/tutorials/stateful-application/zookeeper/">link</a> , Dec 4, 2022</h5>
            <img src="{{url_for('static', filename='kpluszk.jpeg')}}" style="height:200px;">
            <p style='margin:0in;font-size:16px;'><span style="font-size:19px;font-family:Consolas;">The problem:&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;'><span style="font-size:19px;font-family:Consolas;">&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;'><span style="font-size:19px;font-family:Consolas;">In one of my projects, I had to containerize a monolithic Application into micro services. Obviously, I faced many challenges. But for this blog I will discuss the challenge I faced with an ensemble of 3 zookeepers on Virtual Machines that needed to run on containers.</span></p>
            <p style='margin:0in;font-size:16px;'><span style="font-size:19px;font-family:Consolas;">&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;'><span style="font-size:19px;font-family:Consolas;">Like everyone else I started by going over the Kubernetes documentation and fortunately I found an example that is specifically written for zookeepers. So, I first thought, wow finally; most of the work is already done&nbsp;</span><span style="font-size:19px;font-family:Wingdings;"></span><span style="font-size:19px;font-family:Consolas;">.</span></p>
            <p style='margin:0in;font-size:16px;'><span style="font-size:19px;font-family:Consolas;">&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;'><span style="font-size:19px;font-family:Consolas;">However, I found that the provided solution from the Kubernetes example and documentation to populate zookeepers <span style="color:#2F5597;">myid</span> file was causing issues each time that I deploy an update to the zookeeper ensemble on Kubernetes.&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;'><span style="font-size:19px;font-family:Consolas;">&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;'><span style="font-size:19px;font-family:Consolas;">Notably, the StatefulSet pvc (persistent volume claim) may have had a previous id of 1 and will now use id 2 after deployment since the pvc will mount to a random new pod that gets scheduled to start. which in turn lead to the SOLR cluster to lose data and also entire collections!!</span></p>
            <p style='margin:0in;font-size:16px;'><span style="font-size:19px;font-family:Consolas;">&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;'><span style="font-size:19px;font-family:Consolas;">Here is the example two-part snippet from <a href="https://kubernetes.io/docs/tutorials/stateful-application/zookeeper/">zookeeper on kubernetes.io</a>.</span></p>
            <p style='margin:0in;font-size:16px;'><span style='font-family:"Courier New";'>&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;background:#E7E6E6;'><span style='font-size:19px;font-family:"Courier New";color:black;'>for i in 0 1 2;<br>&nbsp; &nbsp;do echo &quot;myid zk-$i&quot;;<br>&nbsp; &nbsp; &nbsp; kubectl exec zk-$i -- cat /var/lib/zookeeper/data/myid;<br>&nbsp; &nbsp;done</span></p>
            <p style='margin:0in;font-size:16px;'><span style='font-family:"Courier New";'>&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;'><span style='font-family:"Courier New";'>&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;'><span style="font-size:19px;font-family:Consolas;">As you can see, the snippet above also depends on having the binary for kubectl installed. Which I wanted to avoid since; I try to follow the principle of &ldquo;less is more&rdquo;. The above will also take long to get the pods into a healthy state since zookeeper must negotiate consensus during its leader election phase. I also found it hard to read.</span></p>
        </div>
        <div class="card">
            <h2>Set the Zookeeper myid file declaratively</h2>
            <h5>A more declarative appraoch, December 4, 2022</h5>
            <img src="{{url_for('static', filename='declarative.png')}}" style="height:200px;">
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>About Me</h2>
            <img src="{{url_for('static', filename='abountme.jpeg')}}" style="height:200px;">
            <div class="color-base-70">
            I am Andrew, and earlier in my life I wanted to become a chef. Currently, I am a self-taught DevOps Practitioner and Docker Composer 😃.
                - Everything is challenging before you start doing it  🚀 🤖 💻.
            </div>

        </div>
        <div class="card">
            <h3>Popular Posts</h3>
            <blockquote class="embedly-card"><h4><a href="https://dev.to/techworld_with_nana/run-pod-with-root-privileges-41n9">Run Kubernetes Pod with root privileges (not recommended)</a></h4><p>Most Docker containers and the processes inside run with non-root user, because of better security. If the container process is running with root (uid 0) it will be the same root as on the host. In this case user may get access to host from the container, thus gaining the root privilege on the host.</p></blockquote>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

            <blockquote class="embedly-card"><h4><a href="https://medium.com/@keska.damian/architectural-pyramid-of-tekton-a-cloud-native-modular-ci-cd-99147d5e1f28">Tekton's Architecture Pyramid, cloud-native, modular CI/CD building blocks</a></h4><p>Have you ever been looking for a Jenkins alternative? Do you like Kubernetes? I will show you the architecture of Tekton Pipelines and Tekton Triggers, which are the most popular components for building cloud-native CI/CD on top of Kubernetes.</p></blockquote>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

            <blockquote class="embedly-card"><h4><a href="https://medium.com/devops-mojo/kubernetes-k8s-overview-what-is-kubernetes-why-kubernetes-introduction-to-kubernetes-da92ee11c8fb">Kubernetes (K8s) Overview</a></h4><p>What is Kubernetes - Introduction to Kubernetes (K8s) Orchestration Kubernetes is a portable, extensible, open-source platform for managing containerized workloads and services, that facilitates both declarative configuration and automation.</p></blockquote>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div>
        <div class="card">
            <h3>Follow me on Twitter</h3>
            <p><a href="https://twitter.com/andrewduke51">My Twitter Handle <a href="https://emoji.gg/emoji/3421_Twitter"><img src="https://cdn3.emoji.gg/emojis/3421_Twitter.png" width="20px" height="20px" alt="Twitter"></a></a></p>
        </div>
    </div>
</div>

<footer>
    <p>Author: Andrewduke51</p>
    &copy; Copyright 2022
</footer>