<!DOCTYPE html>
<html>
<head>
    <title>Honeypot Response</title>
</head>
<body>
<p>"Ha-ha! You Sucker With IP {{ ip_address }}, you've stumbled into our honeypot! 😜!!"</p>
<div style="padding-bottom: 75%; position: relative;"><iframe width="50%" height="50%" src="https://www.youtube.com/embed/bx9kaa7IsBg?autoplay=1&loop=1&playlist=bx9kaa7IsBg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"  style="position: absolute; top: 0px; left: 0px; width: 50%; height: 50%;"><small>Powered by <a href="https://embed.tube/embed-code-generator/youtube/">youtube embed video</a> generator</small></iframe></div>
</body>
</html>