<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Docker</title>
</head>
<body>
<center><font size="1px"><h1>This Flask App is containerized with Docker: Hi, I am a Python Flask Website running on Kubernetes!
    I am a HELM Chart!</h1></font><center>
</body>
<center><img src="{{url_for('static', filename='ci_cd.jpeg')}}" alt="pic" width="1050" height="400" /><center>
    <font size="100px"><a href="https://drive.google.com/file/d/1ZPGAKLyJXCPAfDbMYVb6AiuQVjqJhORH/view?usp=sharing">Click here for my resume!</a></font>
    <center><h4><blink><p style="color:red;">Ask me for the password...</p></blink></h4><center>
</html>