# ansible-playbook -i local_files/inventory ansible/playbooks/site.yml
---
- hosts: all
  become: true
  vars_files:
    - "../../local_files/ansible_local_vars.yml"
  roles:
    - { role: pub-key, when: "'kubernetescluster' in group_names" }
    - { role: update-linux, when: "'kubernetescluster' in group_names" }
    - { role: install-containerd, when: "'kubernetescluster' in group_names" }
    - { role: install-kubernetes, when: "'kubernetescluster' in group_names" }

- hosts: 127.0.0.1
  connection: local
  tasks:
    - name: Run kubectl get nodes
      become: false
      environment:
        KUBECONFIG: "{{ lookup('env','HOME') }}/.kube/config"
      command: kubectl get nodes
      register: command_output

    - debug:
        var: command_output.stdout_lines
